# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target
applog.txt

# Intellij configs
.idea
*.iml

# Production settings
skillifier/src/main/resources/application-production.properties

# "Tilde" files
*~

#test files
skillifier/src/test/testResources/*
!skillifier/src/test/testResources/data.zip
!skillifier/src/test/testResources/exe.zip
/skillifier/submissions/

#langs
tmc-langs/*

